<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>

<div class="container my-4">
  <div class="mb-3 ms-auto">
        <h1>
            All Campgrounds 
            <span><a href="/campgrounds/new" class="btn btn-success">+ Add Campground</a></span>
        </h1> 
  </div>

  <% for (let campground of campgrounds) { %>
    <div class="card mb-3" >
      <div class="row">
        <div class="col-md-4">   
          <% if (campground.images.length) { %>
          <img crossorigin="anonymous" class="img-fluid" src="<%= campground.images[0].url %>" alt="...">
          <% } else { %>
          <img  crossorigin="anonymous" class="img-fluid" src="https://res.cloudinary.com/dsh4zi6fu/image/upload/v1756010520/YelpCamp/mnxpntgfmv2smqbeijxr.jpg" alt="...">
          <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
            <p class="card-text">
              <small class="text-muted"><%= campground.location %></small>
            </p>
            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View Details</a>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>

<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>
<script src="/javascripts/clusterMap.js"></script>